  
{% extends "base/__base.html" %}
{% load static %}
{% block content %}

<html lang="en">

    {% for post in post %}
    <div class="card" style="width: 18rem;">
  <img src="{{post.image.ur}}" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.text}}</p>
    <a href="{% url 'index' %}" class="btn btn-primary">Go somewhere</a>
    <a href="{% url 'commet_detail' post.id %}" class="btn btn-primary">{{post.commets.all|length}}#Commet</a>
    <a href="{% url 'delete' post.id %}" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delate"></i>Delate</a>
    <a href="{% url 'create'  %}" class="create" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Create"></i>Create</a>
    <a href="{% url 'update' post.id  %}" class="update" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="update"></i>Update</a>

<ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{'blog:blog'}}">Home<span class="sr-only"></span></a>
            <hr>

            
            <hr>
          </li>
          <a class="nav-link" href="{% url 'register' %}">Register <span class="sr-only"></span></a>
          <a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only"></span></a>
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
</ul>

</div>
    {% endfor %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    
</html>

{% endblock content %}